@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
/* font-family: 'Red Hat Display', sans-serif; */
body {
  height: 100%;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.about_us,
.contributors {
  font-family: "Red Hat Display", sans-serif;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_us {
  padding-top: 24px;
}

.about_content {
  text-align: center;
  font-size: 24px;
  padding: 18px 0 11px 0;
  width: 40%;
  border-bottom: 1px solid #919191;
  margin-bottom: 18px;
}

.about_content > p {
  padding: 12px 0;
}

/* mobile phone */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main-container {
    margin-top: 20px;
  }

  .about_us,
  .contributors {
    font-size: 24px;
  }

  .contributors {
    margin-bottom: 50px;
  }

  .about_us {
    padding-top: 0;
  }

  .about_content {
    font-size: 18px;
    width: 80%;
    padding-top: 0;
  }
}

/* iPads and Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main-container {
    margin-top: 20px;
  }

  .about_us,
  .contributors {
    font-size: 28px;
  }

  .contributors {
    margin-bottom: 50px;
  }

  .about_us {
    padding-top: 0;
  }

  .about_content {
    font-size: 22px;
    width: 80%;
    margin-bottom: 20px;
  }

  .about_content > p {
    padding: 10px 0;
  }
}

/* smalls screen, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-container {
    margin-top: 50px;
  }

  .about_us,
  .contributors {
    font-size: 38px;
  }

  .contributors {
    margin-bottom: 50px;
  }

  .about_us {
    padding-top: 24px;
  }

  .about_content {
    text-align: center;
    font-size: 25px;
    width: 85%;
    margin-bottom: 20px;
  }

  .about_content > p {
    padding: 14px 0;
  }
}

/* Dekstops, large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .main-container {
    margin-top: 50px;
  }

  .about_us,
  .contributors {
    font-size: 36px;
  }

  .contributors {
    margin-bottom: 50px;
  }

  .about_us {
    padding-top: 22px;
  }

  .about_content {
    font-size: 24px;
    width: 65%;
    margin-bottom: 20px;
  }

  .about_content > p {
    padding: 10px 0;
  }
}
