@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
/* font-family: 'Red Hat Display', sans-serif; */
body {
  height: 100%;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.about_us,
.contributors {
  font-family: "Red Hat Display", sans-serif;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_us {
  padding-top: 24px;
}

.about_content {
  text-align: center;
  font-size: 24px;
  padding: 18px 0 11px 0;
  width: 40%;
  border-bottom: 1px solid #919191;
  margin-bottom: 18px;
}

.about_content > p {
  padding: 12px 0;
}
