.synonymsList {
  background-color: #312e81;
  color: white;
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  padding: 0 5px;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
}

.antonymsList {
  background-color: #312e81;
  color: white;
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  padding: 0 5px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
}

.word-definition {
  font-size: 24px;
}

.word-example {
  font-style: italic;
  color: #3f3f3f;
  font-size: 18px;
}

.synonym-btn,
.antonym-btn {
  flex: none;
}

.synonym,
.antonym {
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.single-synonym,
.single-antonym {
  margin: 5px 5px;
  background-color: white;
  color: black;
  padding: 0 5px;
  border-radius: 5px;
}
