@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
/* font-family: 'Red Hat Display', sans-serif; */

.footer {
  position: fixed;
  bottom: 0;
  color: white;
  background-color: #312e81;
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
}
