@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
/* font-family: 'Red Hat Display', sans-serif; */

.navbar {
  color: white;
  background-color: #312e81;
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
  height: 100px;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 0 70px;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.home-btn {
  padding-right: 35px;
}

.about-btn {
  padding-left: 35px;
}
