.speech-container {
  display: flex;
}

.partOfSpeech {
  background-color: #312e81;
  color: white;
  font-size: 16px;
  width: fit-content;
  height: fit-content;
  padding: 0 5px;
  border-radius: 5px;
  margin-right: 5px;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .partOfSpeech {
    font-size: 14px;
  }
}
