.phonetics {
  font-size: 24px;
  display: flex;
}

.pronunciation {
  display: flex;
  padding: 0 15px;
  align-items: center;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  .pronunciation {
    padding: 5px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .phonetics {
    font-size: 18px;
  }
}
