@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
/* font-family: 'Red Hat Display', sans-serif; */

body {
  font-family: "Red Hat Display", sans-serif;
}

.wotd {
  background-color: #f9f9f9;
  width: 620px;
  height: fit-content;
  padding: 25px;
  display: grid;
  grid-template-columns: 200px 370px;
  border-radius: 15px;
  box-shadow: 0 2px 4px gray;
}

.wotd-title {
  font-size: 48px;
  height: 145px;
  padding-right: 20px;
  border-right: 1px solid #c4c4c4;
  display: flex;
  align-items: center;
}

.genWord {
  padding-left: 20px;
  display: flex;
  justify-content: center;
}

.theWord {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}

.definition {
  font-size: 24px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .wotd {
    display: flex;
    width: 280px;
  }

  .wotd-title {
    font-size: 18px;
    height: 72px;
  }

  .theWord {
    font-size: 16px;
  }

  .definition {
    font-size: 12px;
  }
}
