.words {
  font-size: 28px;
  display: flex;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  .words {
    font-size: 24px;
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .words {
    font-size: 30px;
  }
}
