@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
/* font-family: 'Red Hat Display', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: 'Poppins', sans-serif; */

.search-container {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.searchBar {
  background-color: #c4c4c4;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.input {
  background-color: #c4c4c4;
  border-radius: 10px;
  height: 40px;
  width: 90%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input::placeholder {
  color: white;
  font-style: italic;
}

.FaSearch {
  color: white;
}

.startingMsg {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  padding: 7.5rem;
  color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchResults {
  width: 70%;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 1px 4px #c4c4c4;
  padding: 20px;
  overflow-y: auto;
}

.searchResults::-webkit-scrollbar {
  width: 5px;
}
.searchResults::-webkit-scrollbar-thumb {
  background: #c4c4c4c4;
  border-radius: 10px;
}
